.output-y {
  position: relative;
  display: inline-flex;
  border: 1px solid #1b0c96;
  overflow: hidden;

  &__content {
    position: relative;
    display: inline-flex;
    background: #fff9df;
    width: 40px;
    height: 400px;
  }

  .coords {
    position: relative;
    width: inherit;
    height: inherit;

    &__y {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      z-index: 2;

      .part {
        position: absolute;
        display: inline-block;
        width: inherit;
        border-bottom: 1px solid green;

        &--center {
          border-color: black;
        }
      }
    }

    .dot {
      position: absolute;
      width: inherit;
      height: 3px;
      background: red;

      top: 100px;
      left: 0;
      transform: translateX(0) translateY(-50%);
      border-radius: 1px;
      transition: 0.2s ease all;

      z-index: 100;
    }
  }
}